

body {
    margin: 0;
    background: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* sizing the graphic. add height here and add the container img style */
/* https://stackoverflow.com/questions/47309361/how-can-i-set-the-size-of-logos-the-same-via-css */
.container {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.container img {
    height: 50%;
}

header {
    background: #FFFFFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.the_body {
    background: #FFFFFF;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

/* can also do just nav a */
nav ul > li > a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    fort-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    /* making the black overline */

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}


/* making the black overline */
nav a:hover::before {
    width: 100%;
}

